<mat-toolbar color="primary">
  <span class="fill-remaining-space" [ngSwitch]="action">
    <span *ngSwitchCase="AActions.Add">New Request</span>
    <span *ngSwitchCase="AActions.Modify">Modify {{ request.package.name }}</span>
    <span *ngSwitchCase="AActions.Delete">Delete {{ request.package.name }}</span>
    <span *ngSwitchDefault>N\A</span>
  </span>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="form-element">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="user">
      <mat-error *ngIf="!user.valid && user.touched">
        {{ validator.getErrors(user) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email Address" formControlName="email">
      <mat-error *ngIf="!email.valid && email.touched">
        {{ validator.getErrors(email) }}
      </mat-error>
    </mat-form-field>

    <div formGroupName="package">
      <mat-form-field class="form-element">
        <mat-label>Package Name</mat-label>
        <input matInput placeholder="Packege[@Version]" formControlName="name">
        <mat-error *ngIf="!packageName.valid && packageName.touched">
          {{ validator.getErrors(packageName) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Package Type</mat-label>
        <mat-select formControlName="type" placeholder="Package Type">
          <mat-option *ngFor="let pType of PackageTypes | enum" [value]="pType[0]">{{ pType[1] | title}}</mat-option>
        </mat-select>
        <mat-error *ngIf="!packageType.valid && packageType.touched">
          {{ validator.getErrors(packageType) }}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-slide-toggle class="form-element" formArrayName="distribution">Notify my manager</mat-slide-toggle>
    <mat-grid-list cols="3" rowHeight="2:1" class="form-element">
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="button" [mat-dialog-close]="true">Cancel</button>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile [ngSwitch]="action">
        <button mat-raised-button *ngSwitchCase="AActions.Add" color="primary" type="submit" class="button"
          [disabled]="!requestForm.valid">Submit</button>
        <button mat-raised-button *ngSwitchCase="AActions.Modify" color="primary" type="submit" class="button"
          [disabled]="!requestForm.valid">Update</button>
        <button mat-raised-button *ngSwitchCase="AActions.Delete" color="warn" type="submit" class="button"
          [disabled]="!requestForm.valid">Delete</button>
        <span *ngSwitchDefault>N\A</span>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<ng-template #forminfo>
  <div class="container">
    {{ post | json }}
  </div>
</ng-template>
