.login-card {
  font-weight: lighter;
  font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
  background: #3b3b3b;
  color: #fff;
}

.manage-profile-settings {
    background: transparent;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #7bb9e9;
    height: 16px;
    margin: 0;
    padding: 0px 0px 20px 0px;
}

.mat-divider {
  border-top-color: gray;
}

mat-icon {
  width: 48px !important;
  height: 48px !important;
}

::ng-deep .mat-input-wrapper{
  font-weight: lighter;
  font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
  color: #fff !important;
}

:host input.md-input-element {
  font-weight: lighter;
  font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
  color: #fff !important;
}
.mat-input-element, span{
  font-weight: lighter;
  font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
  color: #fff !important;
}
