<mat-card class="login-card">
  <mat-card-header>
    <div mat-card-avatar class="login-header-image">
      <mat-icon matTooltip="{{ displayName }}" svgIcon="account_circle"></mat-icon>
    </div>
    <mat-card-title>{{ displayName }}</mat-card-title>
    <mat-card-subtitle class="login-card">{{ email }}</mat-card-subtitle>
    <mat-card-subtitle class="manage-profile-settings">Manage profile settings</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    Valid until {{ tokenExpiration | date }}
    <!-- <mat-icon matTooltip="Add Account" svgIcon="account_circle"></mat-icon> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-stroked-button (click)="logout()">Logout</button>
  </mat-card-actions>
</mat-card>
