.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 48px;
  width: 48px;
}

.auth-card {
  max-width: 80%;
}

img.image {
  height: 150px;
  float: right;
  /* adjust as needed */
  object-fit: contain;
}
