<mat-progress-bar *ngIf="!error" mode="indeterminate"></mat-progress-bar>
<mat-card class="auth-card">
  <mat-card-header>
    <div mat-card-avatar><mat-icon matTooltip="Details" svgIcon="error_outline"></mat-icon></div>
    <mat-card-title><ms-trade-mark></ms-trade-mark> {{ type | title }}</mat-card-title>
    <mat-card-subtitle>Authenticating... {{ message | title }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src="../../../../assets/images/secure_connection.jpg" alt="Secured">
  <mat-card-content>
    <div>
      <ul>
        <li *ngFor="let errorDetail of errorDetails">{{ errorDetail | decode }}.</li>
      </ul>
    </div>
    <div>
      <p>State: {{ state }}</p>
      <p>Reason: {{ reason }}</p>
      <p>Nonce: {{ nonce }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</button>
    <button mat-stroked-button (click)="login()" disabled>Login</button>
  </mat-card-actions>
</mat-card>
