<mat-toolbar color="primary">
  <span>
    <div class="img-container">
      <a href="#" [routerLink]="['home']" [routerLinkActive]="['active']">
        <ms-spinner></ms-spinner>
      </a>
    </div>
  </span>
  <span class="logo">
    Azure
  </span>
  <span>
    <button mat-button [routerLink]="['home']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Home</button>
  </span>
  <span>
    <button mat-button [routerLink]="['requests']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Requests</button>
  </span>
  <span>
      <button mat-button [routerLink]="['docs']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Documentation</button>
    </span>
    <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space">
    <ng-template #notificationAlert [ngIf]="this.notification">
      <div class="alert alert-success fadein">
        <strong>{{ notification.Title }}</strong> {{ notification.Content }}
      </div>
    </ng-template>
  </span>
  <span>
    <form>
      <mat-form-field>
        <input matInput type="search" (keyup)="loadRequests($event)" placeholder="Search" aria-label="Search">
      </mat-form-field>
      <button mat-flat-button type="search">Search</button>
    </form>
  </span>
</mat-toolbar>
