<mat-toolbar color="primary">
  <span>
    <div class="img-container">
      <a href="#" [routerLink]="['home']" routerLinkActive="mat-accent">
        <ms-spinner></ms-spinner>
      </a>
    </div>
  </span>
  <span class="logo">
    Azure
  </span>
  <span>
    <button mat-button [routerLink]="['home']" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">Home</button>
  </span>
  <span>
    <button mat-button [routerLink]="['requests']" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">
      <ng-container *ngIf="requestCount > 0">
        <span matBadge="{{ requestCount }}"  matTooltip="{{ requestCount }} pending requests" matBadgeOverlap="false">Requests</span>
      </ng-container>
      <ng-container *ngIf="requestCount <= 0">
        Requests
      </ng-container>
    </button>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Documentation</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['requests/docs']" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">Active</button>
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.npm]" routerLinkActive="active">Npm (Node)</button>
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.nuget]" routerLinkActive="active">Nuget</button>
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.vs_extension]" routerLinkActive="active">Extension</button>
    </mat-menu>
  </span>
  <span>
    <button mat-button [routerLink]="['help']" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">Help</button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space">
    <ng-template #notificationAlert [ngIf]="this.notification">
      <div class="alert alert-success fadein">
        <strong>{{ notification.Title }}</strong> {{ notification.Content }}
      </div>
    </ng-template>
  </span>
  <span>
    <form>
      <mat-form-field>
        <input matInput type="search" (keyup)="loadRequests($event)" placeholder="Search" aria-label="Search">
      </mat-form-field>
    </form>
  </span>
  <span>
    <ng-container *ngIf="authenticated">
      <button mat-mini-fab matTooltip="{{ displayName }}" (click)="userModal()">{{ displayName | login }}</button>
    </ng-container>
    <ng-container *ngIf="!authenticated">
      <button mat-button (click)="login()">Login</button>
    </ng-container>
  </span>
</mat-toolbar>
