<mat-toolbar color="primary">
  <span>
    <div class="img-container">
      <a href="#" [routerLink]="['home']" [routerLinkActive]="['active']">
        <ms-spinner></ms-spinner>
      </a>
    </div>
  </span>
  <span class="logo">
    Azure
  </span>
  <span>
    <button mat-button [routerLink]="['home']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Home</button>
  </span>
  <span>
    <button mat-button [routerLink]="['requests']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}">Requests</button>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Documentation</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.npm]" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Npm (Node)</button>
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.nuget]" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Nuget</button>
      <button mat-menu-item [routerLink]="['requests/docs', PackageTypes.extension]" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Extension</button>
    </mat-menu>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space">
    <ng-template #notificationAlert [ngIf]="this.notification">
      <div class="alert alert-success fadein">
        <strong>{{ notification.Title }}</strong> {{ notification.Content }}
      </div>
    </ng-template>
  </span>
  <span>
    <form>
      <mat-form-field>
        <input matInput type="search" (keyup)="loadRequests($event)" placeholder="Search" aria-label="Search">
      </mat-form-field>
    </form>
  </span>
  <span>
    <ng-container *ngIf="authenticated">
        <button mat-mini-fab matTooltip="{{ displayName }}" (click)="userModal()">{{ displayName | login }}</button>
    </ng-container>
    <ng-container *ngIf="!authenticated">
        <button mat-button (click)="login()">Login</button>
    </ng-container>
  </span>
</mat-toolbar>
