<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon matTooltip="Please login" svgIcon="account_circle"></mat-icon>
    </div>
    <mat-card-title>Welcome to <ms-trade-mark></ms-trade-mark></mat-card-title>
    <mat-card-subtitle class="login-card" >Sign in to continue to the requests portal</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
