<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon matTooltip="Please login" svgIcon="account_circle"></mat-icon>
    </div>
    <mat-card-title>Signup in order to access content</mat-card-title>
    <mat-card-subtitle class="login-card">Login using your favorite provider</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <!-- <mat-icon matTooltip="Add Account" svgIcon="account_circle"></mat-icon> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
