<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<!-- <httpRedirect enabled="false" destination="/" exactDestination="false" childOnly="false" /> -->

    <rewrite>
      <rules>
        <rule name="AngularRewriteRule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="ApiProxyRule" stopProcessing="true">
          <match url="api/(.*)" />
          <action type="Rewrite" url="http://localhost/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>

    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
        <defaultDocument>
            <files>
                <add value="index.html" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
